<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smk.its">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/iconmusik"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppApplication">
    <activity android:name=".activity.Musik_activity"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <genre android:name="android.intent.genre.LAUNCHER"/>
        </intent-filter>
    </activity>

        <activity android:name=".activity.Genre_activity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
